.blogFooterLeftDiv {
  margin-left: 355px;
  text-align: center;
  background: #404040;
  color:white;
  height: 262px;
  padding: 80px 0 80px 0;
  position: relative;
  bottom: 0;
  border: 1px solid lightgray;
}

.blogFooterRightDiv {
  margin-left: 55px;
  margin-right: 300px;
  text-align: center;
  background: #404040;
  color:white;
  height: 262px;
  padding: 80px 0 80px 0;
  position: relative;
  bottom: 0;
  border: 1px solid lightgray;
}